<div class="collapse navbar-collapse">

      <ul class="nav navbar-nav">

          <li ng-class="{ active: isActive('/empresa')}"><a ui-sref="empresa">Empresa</a></li>
          <li ng-class="{ active: isActive('/produtos')}"><a ui-sref="produtos">Produtos</a></li>
          <li ng-class="{ active: isActive('/portfolio')}"><a ui-sref="portfolio">Portfólio</a></li>
          <li ng-class="{ active: isActive('/orcamentos')}"><a ui-sref="orcamentos">Orçamentos</a></li>
          <li ng-class="{ active: isActive('/contactos')}"><a ui-sref="contactos">Contactos</a></li>

      </ul>

</div>
