<nav class="navbar navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">
          SACOSTEJO
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">

      <li ng-class="{ active: isActive('/empresa')}"><a  href="/empresa">Empresa</a></li>
      <li ng-class="{ active: isActive('/produtos')}"><a  href="/produtos">Produtos</a></li>
      <li ng-class="{ active: isActive('/portfolio')}"><a href="/portfolio">Portfólio</a></li>
      <li ng-class="{ active: isActive('/orcamentos')}"><a href="/orcamentos">Orçamentos</a></li>
      <li ng-class="{ active: isActive('/contactos')}"><a href="/contactos">Contactos</a></li>

      </ul>

    </div>
  </div>
</nav>
